# Ignore all PDF files
*.pdf

# Ignore .env files
.env
.env.*

# Ignore all .json files
*.json

# Ignore all markdown files
*.md

*.venv

output/
fixed_markdown/
!/prompts/Proposition.md
*.zip
*.log
*.csv


.DS_Store
